@import "tailwindcss";

@layer components {
  .dark .p-panelmenu {
    background-color: transparent;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.horizontal-gap {
  height: 60px;
}

.vertical-gap {
  width: 60px;
}

.header-bold {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.card-sm-text {
  color: #57595b;
  font-size: 12px;
  font-weight: 600;
}

.card-lg-text {
  color: white;
}
