@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));   

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.horizontal-gap-sm{
  height: 20px;
}

.horizontal-gap {
  height: 60px;
}

.vertical-gap {
  width: 60px;
}

.header-bold {
  font-size: 18px;
  font-weight: bold;
}

.card-sm-text {
  font-size: 12px;
  font-weight: 600;
}

.card-text-bold{
  font-size: 16px;
  font-weight: bold;
}
