@import "tailwindcss";

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.horizontal-gap{
  height: 60px;
}

.vertical-gap{
  width: 60px;
}
